:root {
    --logo-color: #67686d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #7e7f84;
    --primary-color: #f45a40;
    --font-primary: 'Roboto Condensed', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}