* {
    box-sizing: inherit;
}

html,
body {
    /* 100% = 16px  */
    /* 1rem => 10px  */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}